*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    font-family: sans-serif;
}

.main-container{
    background-color: white;
    width: 90;
    margin: auto;
    padding: 10px;
}

.img-header{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}


.img-header img{
   width: 20;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a{
    flex: 1;
    text-decoration: none;
    background-color: rgb(255, 102, 0);
    color: black;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover{
    background-color: rgb(156, 114, 51);
    color: hsl(0, 0%, 100%);

}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paket-container{
    width: 30%;
    margin: 10px;
}

.paket-container img{
    widh: 100%;  
}

.paket-container h4{
    color:rgb(139, 128, 128) 

}

.vidio-container{
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vidio-container iframe{
    width: 100%;
    height: auto;
}

.search-container{
    margin-bottom: 10px;
}

.search-container input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

.search-container input[type="submit"] {
    padding: 5px;
}

.brand-container{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 10%
}

.brand-container img{
    width: 200%;
}

.brand-container h1{
    color: white;
    font-size: 3.5vw;
    font-family: "Merriweather";
    font-weight: 100;
    font-style: normal;
    text-shadow: 2px 2px 8px #000;
}

.brand-container h2{
    color: white;
    font-size: 2vw;
    text-shadow: 2px 2px 8px #000;
}